body{
    background-color: #F7FFFF;
}

.list-title{
    margin: 20px 0px 20px 0px;
    text-align: center;
}

.students-list{
    margin: 0 auto;
    width: 75%;
}

.students-list .table{
    border: 1px solid black;
}

.add-student{
    display: block;
    margin: 0 auto;
    width: 10%;
}


/* FORM */
.edit-form{
    margin: 50px auto;
    width: 50%;
}